.link {
  &--variant-default {
    text-decoration: none;
  }

  &--variant-primary,
  &--variant-ghost {
    display: block;
    padding: var(--space-1) var(--space-3);
    width: max-content;
    border-radius: var(--border-radius-base);
    color: var(--black);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    letter-spacing: 0.025rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
  }

  &--variant-primary {
    border: none;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    transition: 150ms ease-out;

    &:hover {
      border: 2px solid var(--primary-150);
      background-color: var(--primary-150);
    }
  }

  &--variant-ghost {
    background-color: var(--white);
    border: 2px solid var(--primary);
    transition: 150ms ease-out;

    &:hover {
      border: 2px solid var(--primary-150);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 60%;
  }

  &--icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);

    &:hover {
      span {
        transform: translateX(0);
      }

      svg {
        transform: translateX(2px);
        opacity: 1;
      }
    }
  }

  &__content {
    transform: translateX(12px);
    transition: 150ms ease-out;
  }

  &__icon {
    opacity: 0;
    width: 20px;
    height: 20px;
    transform: translateX(-8px);
    transition: 150ms ease-out;
  }
}
