.instagram_block {
  &--background {
    background-color: var(--body_secondary);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-10);
    padding: var(--space-5) var(--space-3) var(--space-10) var(--space-3);
    width: 100%;
    max-width: var(--view-max-width);
    margin: 0 auto;
    box-sizing: border-box;

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-3);
      align-items: center;

      > .heading_1 {
        width: 100%;
        max-width: max-content;
        padding-bottom: var(--space-1);
        border-bottom: 5px solid var(--primary);
        text-align: center;
      }

      > .heading_3 {
        font-weight: var(--font-weight-large);
      }

      &__icon {
        margin-left: var(--space-1);
        width: 40px;
        height: 40px;
      }

      &__link_to {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-1);
        border-bottom: 2px solid transparent;
        transition: 150ms ease-out;

        &__icon {
          width: 20px;
          height: 20px;
        }

        &:hover {
          border-bottom: 2px solid var(--gray-deeper);
        }
      }
    }

    &__posts {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: var(--space-3);
    }
  }
}

@media screen and (min-width: 768px) {
  .instagram_block {
    &__wrapper {
      padding: var(--space-5) var(--space-6) var(--space-10) var(--space-6);
    }
  }
}
