.cursus_header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-3);
  background-color: var(--gray-white);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--gray-lighter);
  box-shadow: var(--card-shadow);
  box-sizing: border-box;

  &__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-1);
  }

  &__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-3);

    &__exercices_nmb {
      font-weight: var(--font-weight-medium);
    }
  }
}
