.link {
  &--variant-default {
    text-decoration: none;
  }

  &--variant-primary,
  &--variant-ghost {
    display: block;
    padding: var(--space-1) var(--space-3);
    width: max-content;
    border-radius: var(--border-radius-base);
    color: var(--black);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    letter-spacing: 0.025rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
  }

  &--variant-primary {
    border: none;
    background-color: var(--primary-85);
  }

  &--variant-ghost {
    padding: 6px 22px;
    background-color: var(--white);
    border: 2px solid var(--primary-85);
  }

  &--size-small {
    font-size: var(--font-size-small);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 60%;
  }
}
