.signup_form {
  display: flex;
  flex-direction: column;
  gap: var(--space-7);

  &__fieldset {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
  }
}
