.didacticiel_layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: max-content;
  grid-gap: var(--space-2);
  padding: 0 var(--space-6);
  width: 100%;
  max-width: var(--view-max-width);
  margin: 0 auto;
  box-sizing: border-box;
}
