.feedback_block {
  &--background {
    background-color: var(--body_secondary);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-12) var(--space-3);
    width: 100%;
    max-width: var(--view-max-width);
    margin: 0 auto;
    box-sizing: border-box;

    &__left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--space-3);
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--space-3);

      &__video {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-small);

        &__player {
          width: 100%;
          border-radius: var(--border-radius-small);
          margin-bottom: -5px;
          box-shadow: var(--card-shadow);
        }

        &__title {
          padding: 0 var(--space-1);
          font-weight: var(--font-weight-large);
        }
      }

      &__videos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: var(--space-2);

        &__item {
          position: relative;
          border-radius: var(--border-radius-small);
          box-shadow: var(--card-shadow);
          cursor: pointer;
          transition: 150ms ease-out;

          &:hover {
            transform: translateY(-5px);

            > svg {
              opacity: 1;
            }

            > div {
              background-color: rgba(255, 255, 255, 0.75);
            }
          }

          &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border-radius: var(--border-radius-small);
            transition: 150ms ease-out;
          }

          &__icon {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            transition: 50ms ease-out;
          }

          &__thumbnail {
            width: 100%;
            height: auto;
            border-radius: var(--border-radius-small);
            margin-bottom: -5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .feedback_block {
    &__wrapper {
      padding: var(--space-12) var(--space-6);

      &__right {
        flex-direction: row;
        &__videos {
          max-width: 20%;
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .feedback_block {
    &__wrapper {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      &__left {
        min-width: 50%;
      }

      &__right {
        flex-direction: column;
        // max-width: 600px;

        &__videos {
          max-width: unset;
          flex-direction: row;
        }
      }
    }
  }
}
