.exercice_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-3);
  background-color: var(--gray-white);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--gray-lighter);
  box-shadow: var(--card-shadow);
  box-sizing: border-box;

  h3 {
    font-weight: var(--font-weight-large);
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
  }
}
