.event_teaser {
  display: flex;
  flex-direction: column;
  padding: var(--space-3) var(--space-4);
  gap: var(--space-3);
  height: 100%;
  background-color: var(--gray-white);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--gray-lighter);
  box-shadow: var(--card-shadow);
  box-sizing: border-box;

  &--highlight {
    .events__item__body__content__categories {
      order: -1;
    }
  }

  &--teaser {
    border-right: var(--space-1) solid var(--primary);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    &__top,
    &__bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__top {
      justify-content: space-between;
      gap: var(--space-2);
      padding-bottom: var(--space-1);
      border-bottom: 1px solid var(--gray-deep);
    }

    &__bottom {
      gap: var(--space-2);

      > :first-child {
        font-weight: 600;
      }

      &__status {
        position: relative;
        padding-left: var(--space-3);
        box-sizing: border-box;

        &::before {
          content: '';
          position: absolute;
          top: 55%;
          left: 7%;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: var(--success);
          transform: translate(-7%, -50%);
        }

        &--success {
          &::before {
            background-color: var(--success);
          }
        }

        &--error {
          &::before {
            background-color: var(--error);
          }
        }

        &--warning {
          &::before {
            background-color: var(--warning);
          }
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-6);
    height: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-3);

      &__categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--space-1);
      }
    }

    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--space-2);

      &__cta {
        margin-left: 6px;
        font-weight: 600;
      }
    }
  }
}
