.banner_contact_form {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
  padding: var(--space-25) var(--space-3);
  width: 100%;
  max-width: var(--view-max-width);
  margin: 0 auto;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    width: 100%;
    max-width: var(--view-max-width);
    margin: 0 auto;

    &__main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
      border-radius: var(--border-radius-medium);
      box-shadow: var(--card-shadow);

      &__cta {
        display: flex;
        flex-direction: column;
        gap: var(--space-8);
        padding: var(--space-4) var(--space-2) var(--space-6);
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
        backdrop-filter: blur(5px);
        box-sizing: border-box;

        &__content {
          display: flex;
          flex-direction: column;
          gap: var(--space-2);

          &__link {
            display: flex;
            flex-direction: row;
            gap: var(--space-1);
            justify-content: center;
            max-width: max-content;
            margin-top: var(--space-2);
            font-weight: var(--font-weight-large);

            &:hover > span {
              border-bottom: 1px solid var(--gray-deeper);
            }

            > span {
              border-bottom: 1px solid transparent;
              transition: 150ms ease-out;
            }

            > svg {
              width: 24px;
              height: 24px;
            }
          }

          > .link {
            margin-top: var(--space-2);
            width: 100%;
          }
        }
      }

      &__form {
        display: flex;
        flex-direction: column;
        gap: var(--space-5);
        padding: var(--space-6) var(--space-2) var(--space-4);
        background-color: var(--primary-45);
        border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
        box-sizing: border-box;

        > .button {
          width: 100%;
        }
      }

      &__form__success {
        display: flex;
        flex-direction: column;
        gap: var(--space-3);
        padding: var(--space-4);
        background-color: var(--primary-45);
        border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
        box-sizing: border-box;

        > .link {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .banner_contact_form {
    padding: var(--space-25) var(--space-6);

    &__wrapper {
      &__main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, max-content);
        row-gap: unset;

        &__cta {
          padding: var(--space-4);
          border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);

          &__content > .link {
            width: max-content;
          }
        }

        &__form {
          padding: var(--space-4);
          border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;

          > .button {
            width: max-content;
          }
        }

        &__form__success {
          border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;

          > .link {
            width: max-content;
          }
        }
      }
    }
  }
}
