.introduction_workshop_block {
  &--background {
    background-color: var(--body_secondary);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
    padding: var(--space-12) var(--space-3);
    width: 100%;
    max-width: var(--view-max-width);
    margin: 0 auto;
    box-sizing: border-box;

    &__information {
      display: flex;
      flex-direction: column;
      gap: var(--space-5);

      &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-3);
        min-width: 0;

        > .heading_1 {
          padding-bottom: var(--space-1);
          border-bottom: 5px solid var(--primary);
        }
      }

      &__picture {
        display: none;
      }
    }

    &__cta {
      display: flex;
      flex-direction: column;
      gap: var(--space-3);

      > .link {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .introduction_workshop_block {
    &__wrapper {
      padding: var(--space-12) var(--space-6);
    }
  }
}

@media screen and (min-width: 992px) {
  .introduction_workshop_block {
    &__wrapper {
      &__information {
        flex-direction: row;
        align-items: center;

        &__content {
          flex: 1;
        }

        &__picture {
          display: block;
          flex-shrink: 0;
          width: 40%;
          max-width: 400px;
          height: auto;
          margin: 0 auto;
          object-fit: cover;
        }
      }

      &__cta {
        flex-direction: row;
        margin: 0 auto;

        > .link {
          width: max-content;
        }
      }
    }
  }
}
